SKIP_ENV_VALIDATION=true
NODE_ENV=test
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/wargaku_test
AUTH_SECRET=test-secret
ADMIN_USERNAME=admin
ADMIN_PASSWORD=password123
R2_ENDPOINT=https://example-account-id.r2.cloudflarestorage.com
R2_ACCESS_KEY_ID=test-access-key-id
R2_SECRET_ACCESS_KEY=test-secret-access-key
R2_BUCKET=wargaku-test
R2_REGION=auto
